
.banner{
    text-align: center;
margin: auto;
width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../images/Banner\ Image.png') ; 
 
}
.banner-first-header{
     color: #FFF;
 text-align: center;  
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 170px;
margin-bottom: 0px;

}
.banner-2nd-header{
color: #FFF;
text-align: center; 
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
 margin-top: 5px; 
width: 632px;
padding-left: 340px;
}
 