/* ..............header style ..........*/
.banner{
    text-align: center;
margin: auto;
width: 1320px;
height: 600px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../images/Banner\ Image.png') ; 
 
}
.banner-first-header{
     color: #FFF;
 text-align: center;  
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 170px;
margin-bottom: 0px;

}
.banner-2nd-header{
color: #FFF;
text-align: center; 
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
margin-top: 5px; 
width: 632px;
padding-left: 340px;
}
 /* ..............main style ..........*/

 /* ......................offer style......................... */
 .offer-container{
    display: block;
    /* margin-top: 100px; */
 }
 .offer-info-header{
    align-items: center;
    text-align: center;
 }
 .offer{  
color: #F00; 
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 140px;
 margin-bottom: 40px; 
 }
 .offer-paragraph{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   margin-top: 30px;
 }
 .category-header{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0px;
 }
 .offer-image{
align-items: center;
 text-align: center; 
flex-shrink: 0;
margin-bottom: 120px;
 }
  /* ......................welcome party style......................... */
  .party{
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../images/Vectorrr.png');
    width: 1320px;
   height: 600px;
   flex-shrink: 0;
   margin: auto;
   align-items: center;
   border-radius: 10px ;

  }
 
  .party-header{
    width: 642px;
    text-align: left;
    margin-left: 150px; 
   
  }
  .p-header{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    text-align: left;
    margin-bottom: 0px;
    
   
  }
  .party-paragraph{
    width: 697px;
    margin-left: 150px;
    padding-top: 0px;
    margin-top: 0px;

  }

.p-paragraph{
    
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
  }

 .party-btn{
border-radius: 8px;
color: #f0e9e9;
padding: 16px 32px;   
background-color: transparent;
border-color: #f0e9e9;
 font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 50;
line-height: normal;
text-transform: uppercase;
margin-left: 150px; 
 } 

 .party-btn:hover{
  background-color: #f90d15;
 }

 .party-image img{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 0.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;

 }

 /*.................. date time .........................*/
 .time-date{
    width: 1320px;
height: 482px;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
margin: auto;
 }

 .time-date-info-container{
text-align: center;
color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin-top: 100px;
padding-top: 100px;

 }
 .time-date-btn{
border-radius: 8px;
background: #F00;
color: #f0e9e9;
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border: none;
margin-left: 590px;
 }

 
span{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
  }

  /*.................. best-offer .................*/

  .best-offer{
    display: flex;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin: auto;
    justify-content: space-around;
    margin-top: 120px;
    /* gap: 30px; */
  } 
  .coming-soon-container{
    width: 393px;
    margin-right:0px;
    padding-right: 0px;

  }
  .cs-first-header{
color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
margin-left: 5px;
  }
  .cs-2nd-header{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 20px;
margin-top: 0px;
  }
  .cs-paragraph{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
padding-top: 0px;
margin-top: 0px;
  }


 .round-photo-container{
  border-radius: 400px;
border: 15px solid #F00;
width: 300px;
height: 300px;
flex-shrink: 0;

 }

 .round-photo{
  border-radius: 300.844px;
   width: 250px;
  height: 250px; 
  flex-shrink: 0;
  margin-left: 24px;
  margin-top: 22px;

 }

 .Happy-new-year-container{
  width: 276px;
  margin-left: 50px;
 }
 .new-year-header{
  color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 18px;
margin-bottom: 10px;

 }
 .new-year-paragraph{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin-top: 0px;
padding: 0px;
margin-bottom: 0px;

 }
 .new-year-image{
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  margin-top: 30px;
 }

 /* holiday sale */
.holiday-sale-container{
  text-align: center;
  align-items: center;
  /* width: 1068px; */
}

.small-header{
  color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.large-haeder{
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 30px;

}
.holiday{

  color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.holiday-sale-paragraph{
  color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
width: 890px; 
margin-left: 430px;
margin-top: 0px;
margin-bottom: 100px;

}

.bonus{
  width: 1320px;
height: 661px;
  margin: auto;
  background-image: url('../images/Rectangle\ 2.png');
  background-repeat: no-repeat;
  background-position: bottom ;
  
}


.bonus-image{
  border-radius: 16px 16px 0px 0px;
  width: 429px;
height: 433px;
flex-shrink: 0;
margin-left: 891px;
} 


/*............. portfolio ...............*/
.portfolio{
  width: 896px;
  margin-left: 170px;
  margin-top: 150px;
}
.portfoli-first-header{
  color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 0px;
}
.portfoli-second-header{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 20px;
margin-bottom: 10px;
}
.portfolio-paragraph{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin-top: 20px;
}